html{
    height: 100%;
}
body {
    font-family: "Gill Sans", sans-serif;
    height: 100%;
    margin: 0;
    color: black;
}

.container {
    position: relative;
    padding: 0;
    width: 100%;
}

.head-text {
    text-align: left;
    position: absolute;
    top: 20%;
    left: 15%;
    color: black;
    line-height: 90%;
  }  

.head-text h1 {
    font-size: 40px;
}

.head-text h2{
    font-size: 70px;
    font-weight: bold;
    color: white;
}

.head-text h3{
    font-size: 20px;
}

/* Top left logo */
.logo {
    position: absolute;
    top: 8px;
    left: 16px; 
}

 /* social icons */ 
  .social {
    position: absolute;
    top: 80%;
    text-align: center;
} 

/* Menu navigation */
.menu {
    position: absolute;
    top: 20px;
    right: 16px;
    display: flex;
}

  .menu ul {
    list-style: none;
    margin: 8px;
    padding: 0
}

  .menu li {
    display: inline-block;
    padding: 0 20px;
}

  .menu a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

  .menu a:hover {
    color: white;
}

/* About me section */
.AboutContainer {
    width: 100%; 
    display: flex; 
    align-content: center;   
}  

.AboutContainer .imgAbout {
   object-fit: contain;
   align-self: flex-start;
   padding: 50px 70px 80px;
}

.AboutContainer .textAbout {
    font-size: large;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 30px;
    }
 
/* Work Section */   
.WorkContainer {
    height: 75%;
    width: 100%; 
    display: flex; 
    align-items: center; 
    background-color: #00A4EF;  
    justify-content: space-evenly;
} 

.WorkContainer .imgWork{
    border: 10px solid #ffc305;
    border-radius: 50%;
    }

/* .WorkContainer .headingWork {
    padding-left: 30px;
} */

.WorkContainer .headingWork{
    padding-left: 95px;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Contact me page */
.GetInTouch {
    padding: 150px; 
    background-color: #ffc305; 
    text-align: center;  
} 

/* contact form */
form {
    margin: 50px auto;
    width: 90%;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 22px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 2px solid #ffc305;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #FA4224;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid #00A4EF;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
}

.form-item button:hover {
    border: 2px solid #FA4224;
    background-color: #FA4224;
    color: #FFF;
}

.form-item button {
    width: 100px;
}

 /* Footer */
footer {
    background-color: #ffc305;
    border-spacing: 20px;
    text-align: center;   
    height: 300px;
    bottom:0; 
    width: 100%;
}

@media screen and (max-width: 600px) {
    .menu li {
        font-size: 16px;
        padding: 15px 5 px;
    }
    .menu li a {
        display: block;
    }

    /* mobile menue */
    .menu {
     display:flex;  
     flex-wrap: wrap; 
     justify-content: space-between;
     align-items: center;
    }

    .WorkContainer{
      flex-direction: column;
      padding-bottom: 100px;
        align-items: center;
        justify-content: center;
    }

    .AboutContainer{
        flex-direction: column;
        padding-top: 200 px;
    } 
    .AboutContainer .imgAbout {
        align-self: center;
    }

    .head-text h1{
        display: block;
    }

    .head-text h2{
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
 
  .AboutContainer .textAbout{
      padding: 20px 50px 80px;
  }
  .WorkContainer .imgWork{
    width: 200px;
    height: 200px;
}
}
@media screen and (max-width: 1000px) {

    .WorkContainer{
        flex-direction: column;
        padding-bottom: 200px;
        padding-top: 120px;
        align-items: center;
        justify-content: center;

      }
  
      .AboutContainer{
          flex-direction: column;
          padding-top: 200 px;
      } 
      .AboutContainer .imgAbout {
          align-self: center;
      }
  
      .head-text h1 {
          font-size: 25px;
      }
  
      .head-text h2{
          font-size: 30px;
          font-weight: bold;
          color: white;
      }
  
      .head-text h3 {
          font-size: 25px;
    }  
    .AboutContainer .textAbout{
        padding: 20px 50px 80px;
}
}